:root {
  --vh: 100vh;
  --main-bg: #ffffff;
  --black: #000000;
}

html.theme-dark {
  // Для поддерки ei11 необходимо также добавить переменные в switcherThemes.js => const themeDark
  --main-bg: #000000;
  --black: #ffffff;
}

// grid
$container-width: 1220px;

// color
$color-primary: #0060df;
$color-secondary: #5a6268;
$color-accent: #fd6f53;
$color-danger: #c82333;
$color-warning: #ffc107;
$main-bg: #ffffff;
$black: #000000;
$white: #ffffff;
$dark: #2a333d;
$blue: #007bff;
$grey: #e3e3e3;
$color-bg: red;
$color-bar: #ccc;
$gradient: linear-gradient(72deg, $color-bar, $color-bg);
$color-overlay: rgba(23, 35, 53, 0.8);
// Other
$transition: 225ms ease-in-out;
// Fonts
$p-reg: "ProximaNovaRegular", sans-serif;
$p-bold: "ProximaNovaBold", sans-serif;
$p-light: "ProximaNovaLight", sans-serif;
