.swiper-container
	.swiper-wrapper
		.swiper-slide
			+jpg(false,'img/2','1200','750','Горы','data:image/gif;base64,R0lGODlhCAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAUAAAIFjI+py1gAOw==', false, true)
		.swiper-slide
			+jpg(false,'img/3','1200','750','Горы','data:image/gif;base64,R0lGODlhCAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAUAAAIFjI+py1gAOw==', false, true)
		.swiper-slide
			+jpg(false,'img/4','1200','750','Горы','data:image/gif;base64,R0lGODlhCAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAUAAAIFjI+py1gAOw==', false, true)
		.swiper-slide
			+jpg(false,'img/5','1200','750','Горы','data:image/gif;base64,R0lGODlhCAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAIAAUAAAIFjI+py1gAOw==', false, true)
	.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-next
		+icon('arrow-right')