.swiper-container
	.swiper-wrapper
		.swiper-slide
			+jpg(false,'img/2','700','440','Горы', false, true)
		.swiper-slide
			+jpg(false,'img/3','700','440','Горы', false, true)
		.swiper-slide
			+jpg(false,'img/4','700','440','Горы', false, true)
		.swiper-slide
			+jpg(false,'img/5','700','440','Горы', false, true)
	button.btn.btn--icon.swiper-button-prev(aria-label="Предыдущий слайд" type="button")
		+icon('arrow-left')
	button.btn.btn--icon.swiper-button-next(aria-label="Следующий слайд" type="button")
		+icon('arrow-right')