.swiper-container
	.swiper-wrapper
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
		.swiper-slide
			.slide-content
				+image('img/1','1180','472','Горы')
	button.btn.btn--icon.swiper-button-prev(aria-label="Предыдущий слайд" type="button")
		+svg('arrow-left', '8', '12', 'slider-arrow')
	button.btn.btn--icon.swiper-button-next(aria-label="Следующий слайд" type="button")
		+svg('arrow-right', '8', '12', 'slider-arrow')