.swiper-container
	.swiper-wrapper
		.swiper-slide
			span slide 1
		.swiper-slide
			span slide 2
		.swiper-slide
			span slide 3
		.swiper-slide
			span slide 4
	.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-next
		+icon('arrow-right')