$padding: 1em;

.btn {
  // сброс
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 0;
  margin: 0;
  border-radius: 0;
  text-decoration: none;
  text-decoration: none;
  white-space: nowrap;
  overflow: visible;
  vertical-align: middle;
  font-family: inherit;
  line-height: 1;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: transform, color, background-color, border-color;
  background-color: transparent;
  background-origin: border-box;
  color: inherit;
  // outline: none;
  /* другие стили*/
  min-width: 10rem;
  padding: 0.625em $padding;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 2px solid red;
    outline-offset: 1px;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &[disabled] {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
  }

  &--icon-svg {
    display: inline-block;
    vertical-align: middle;
    fill: #6c7589;
    width: 2.4rem;
    height: 2.1rem;
    margin-left: -$padding/4;
    margin-right: $padding/2;
  }

  &--icon {
    min-width: auto;
    text-align: center;

    & svg, & .svg {
      margin: 0;
    }
  }

  &--two-lines {
    flex-direction: column;
    align-items: center;
    & > *:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &--normal {
    font-size: 1.6rem;
  }
  &--medium {
    font-size: 2rem;
  }
  &--large {
    font-size: 2.4rem;
  }

  &--default {
    background-color: $grey;

    &:hover {
      background-color: lighten($grey, 5%);
    }

    &:active {
      background-color: darken($grey, 5%);
    }
  }

  &--primary {
    background-color: $color-primary;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }

    &:active {
      background-color: darken($color-primary, 5%);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
    &:active {
      background-color: darken($color-secondary, 5%);
    }
  }

  &--danger {
    background-color: $color-danger;
    &:hover {
      background-color: lighten($color-danger, 5%);
    }
    &:active {
      background-color: darken($color-danger, 5%);
    }
  }

  &--warning {
    background-color: $color-warning;
    &:hover {
      background-color: lighten($color-warning, 5%);
    }
    &:active {
      background-color: darken($color-warning, 5%);
    }
  }

  &--radius {
    border-radius: 0.3125em;
  }

  &--w100 {
    min-width: 100%;
  }

  &--scale {
    transform: scale(1);

    &:active {
      transform: scale(0.9);
    }
  }
}