.accordion
  button(type="button").btn.accordion__title.open Heading 1
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and
  button(type="button").btn.accordion__title Heading 2
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and
  button(type="button").btn.accordion__title Heading 3
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and
  button(type="button").btn.accordion__title Heading 4
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and
  button(type="button").btn.accordion__title Heading 5
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and
  button(type="button").btn.accordion__title Heading 6
  .accordion__collapse
    .accordion__content Lorem Ipsum is simply dummy text of the printing and