.hamburger {
  position: relative;
  display: none;
  width: 28px;
  height: 23px;
  cursor: pointer;

  @include medium {
    display: flex;
    margin-right: auto;
  }

  &:focus {
    outline: 2px solid red;
    outline-offset: 1px;
  }

  &:active {
    .hamburger__span {
      background-color: $grey;
    }
  }

  &__span {
    position: absolute;
    width: inherit;
    height: 3px;
    margin-top: 10px;
    background-color: $black;
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
    transition-property: transform, opacity, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;

    &:nth-child(1) {
      top: -8px;
      width: 28px;
      background-color: $black;
    }

    &:nth-child(2) {
      top: 0px;
      width: 28px;
      background-color: $black;
    }

    &:nth-child(3) {
      top: 8px;
      width: 28px;
      background-color: $black;
    }
  }

  &--open {
    &:active {
      & .hamburger__span {
        &:nth-child(1),
        &:nth-child(3) {
          background-color: $grey;
        }

        &:nth-child(2) {
          opacity: 0;
        }
      }
    }

    & .hamburger__span {
      background-color: transparent;

      &:nth-child(1),
      &:nth-child(3) {
        background-color: $black;
      }

      &:nth-child(1) {
        width: 100%;
        transform: translateX(0) translateY(8.5px) rotate(45deg) !important;
      }

      &:nth-child(3) {
        width: 100%;
        transform: translateX(0) translateY(-7.5px) rotate(-45deg) !important;
      }
    }
  }
}
