extends layouts/default
include helpers/mixins
include ../blocks/components/breadcrumbs/breadcrumbs.pug
include ../blocks/components/nav/nav.pug

block variables
	- const title = "Главная"
	- const name = "main-page"

block content
	.container
		h1.h1-test Адаптивный текст
		h2 Switch mode
		button.btn.btn--default.btn--normal.switch-mode(type="button") Switch
		h2 Button
		.btn-container
			button.btn.btn--default.btn--normal.btn--radius(type="button") Normal
			button.btn.btn--default.btn--normal.btn--radius.btn--scale(type="button") scale
			button.btn.btn--default.btn--medium.btn--radius(type="button") Medium
			button.btn.btn--default.btn--large.btn--radius(type="button") Large
			a(href="#").btn.btn--default.btn--radius Link
			button.btn.btn--default.btn--normal.btn--with-icon.btn--radius(type="button")
				+svg('vk', '8', '12', 'btn--icon-svg social-icon')
				span VKontakte
			button.btn.btn--default.btn--normal.btn--icon.btn--radius(type="button")
				+svg('vk', '8', '12', 'btn--icon-svg social-icon')
				span.sr-only VKontakte
			button.btn.btn--default.btn--normal.btn--two-lines.btn--radius(type="button")
				span Subscribe to our newsletter
				span(aria-hidden="true") 240K+ subscribers
			button.btn.btn--normal.btn--primary.btn--radius(type="button") Normal
			button.btn.btn--normal.btn--secondary.btn--radius(type="button") Normal
			button.btn.btn--normal.btn--warning.btn--radius(type="button") Normal
			button.btn.btn--normal.btn--danger.btn--radius(type="button") Normal
			button.btn.btn--normal.btn--radius(type="button" disabled) Button
		h2 Modal
		button.btn.btn--default.btn--normal.btn--radius.modal__trigger(type="button" data-trigger='modal') modal
		button.btn.btn--default.btn--normal.btn--radius.modal__trigger(type="button" data-trigger='success') modal success
		h2 Form
		include ../blocks/components/form/form.pug
		h2 Select
		include ../blocks/components/select/select.pug
		h2 Tabs
		include ../blocks/components/tabs/tabs.pug
		h2 Accordion
		include ../blocks/components/accordion/accordion.pug
		h2 Checkbox
		include ../blocks/components/checkbox/checkbox.pug
		h2 Grid
		.row
			.coll-3.coll-md
				.inner
					+image('img/3','300','187','Горы')
			.coll-3.coll-md
				.inner
					+image('img/3','300','187','Горы')
			.coll-3.coll-md
				.inner
					+image('img/3','300','187','Горы')
			.coll-3.coll-md
				.inner
					+image('img/3','300','187','Горы')
		h2 Image
		.qqq(style="width: 30rem;")
				+image('img/4','300','300','Горы', '', 'png')
		h2 Image background
		.qqq(style="width: 24rem;")
			.bg-img(data-bg=`img/5.jpg` data-bg-replace-webp=`img/5.webp`)
		h2 Slider
		include ../blocks/components/slider/slider.pug
		h2 Table
		include ../blocks/components/table/table.pug
		h2 Breadcrumbs
		+breadcrumbs(['Main page', 'News'], 'News detail')
		h2 Menu
		include ../blocks/components/hamburger/hamburger.pug
		h2 Nav
		+nav(['Main page', 'News', 'News detail', 'page', 'page2', 'page3'])
		h2 Video youtube
		.ddd(style="width: 50%;")
			include ../blocks/components/video/video.pug
		h2 SVG icon
		+svg('telegram', '24', '21', 'svg-test3')
		+svg('vk', '24', '21', 'svg-test3')
		+svg('html', '70', '80', 'svg-test')
		+svg('logo', '238', '66', 'svg-test2')

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")