.custom-select-wrapper
	.custom-select
		.custom-select__trigger
			span Android
			.arrow
		.custom-options
			span.custom-option.selected(data-value='android') Android
			span.custom-option(data-value='windows') Windows
			span.custom-option(data-value='linux') Linux