.select
	.select__backdrop
	button.btn.select__trigger(type="button")
		span.select__trigger-text Android
		span.arrow
	ul.select__options
		li.select__item
			button(type='button').btn.select__option.selected Android
		li.select__item
			button(type='button').btn.select__option Windows
		li.select__item
			button(type='button').btn.select__option Linux
		li.select__item
			button(type='button').btn.select__option Mac
		li.select__item
			button(type='button').btn.select__option PC
		li.select__item
			button(type='button').btn.select__option Phone