.custom-select
	.custom-select__trigger
		.arrow
	.custom-select__options
		span.custom-select__option.selected(data-value='android') Android
		span.custom-select__option(data-value='windows') Windows
		span.custom-select__option(data-value='linux') Linux