.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: transparent;
  z-index: 99;
  padding: 20px;
  cursor: pointer;

  @media screen and (max-height: 568px) {
    display: block;
  }

  &.modal-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.modal-open .modal {
    opacity: 1;
    animation: zoomIn;
    animation-duration: 300ms;
  }

  &.modal-close .modal {
    animation: zoomOut;
    animation-duration: 200ms;
  }
}

.modal {
  position: relative;
  max-width: 380px;
  width: 100%;
  padding: 40px;
  border-radius: 24px;
  color: $black;
  background: $main-bg;
  opacity: 0;

  cursor: default;

  @include medium {
    margin: 0 auto;
  }

  @include x-small-480 {
    padding: 40px 20px 40px 20px;
  }

  &__header {
    transition: $transition;
  }
  &__form-modal {
    transition: $transition;
  }

  &__title {
    font-family: var(--p-bold);
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 8px;
    display: block;

    @include x-small-480 {
      font-size: 25px;
      line-height: 38px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px;
    padding-right: 42px;

    @include x-small-480 {
      padding-right: 0;
    }
  }

  &__icon-close-wrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: #f7f7f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: #f1f2f4;
    }
  }

  &__icon-close {
    width: 13px;
    height: 13px;
    fill: #556277;
  }
}

.form-modal {
  &__block {
    margin-bottom: 8px;
  }

  input {
    height: 56px;
  }

  input,
  textarea {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ebecef !important;
    width: 100%;

    padding: 16px;
    transition: $transition;
    color: $dark;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      border: 1px solid #dddfe3 !important;
    }

    &:focus {
      border: 1px solid #3fc7f3 !important;
    }
  }

  textarea {
    resize: none;
    height: 102px;
  }

  &__block-btn {
    padding-top: 32px;
  }
}

.modal-success,
.modal-error {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: var(--p-bold);
    font-size: 20px;
    line-height: 20px;
  }

  &.is-success,
  &.is-error {
    @extend .modal-wrapper;
  }
}

.success-check,
.error-check {
  width: 50px;
  display: inline-block;
  margin-bottom: 20px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    animation: dash 0.9s ease-in-out;
    // animation-delay: 300ms;
  }
  &.line {
    stroke-dashoffset: 1000;
    animation: dash 0.9s 0.35s ease-in-out forwards;
    // animation-delay: 300ms;
  }
  &.check {
    stroke-dashoffset: -100;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
    // animation-delay: 300ms;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
