#error.modal.modal-error
	.modal__wrapp
		.modal__window
			.modal-success__content
				span.modal-error__title Что-то пошло не так :(
			button.btn.btn--icon.modal__icon-close-wrapper.modal__close(aria-label="Закрыть модальное окно" type="button")
				+svg('close', '13', '13', 'modal__icon-close')