#modal.modal
	.modal__wrapp
		.modal__window
			.modal__header
				button.btn.btn--default.btn--normal.btn--radius.modal__trigger(type="button" data-trigger='success') modal 2
				span.modal__title Заказать звонок
				p.modal__subtitle Оставьте свои контактные данные, с вами свяжутся в течении 40 минут
			.modal__content
				.form-modal.modal__form-modal
					form.form(novalidate)
						input(type="hidden" name="test")
						.form__line
							label.form__label(for='modal-name')
							input.form__input#modal-name(type='text', placeholder='Имя' autocomplete="off" name="Имя")
						.form__line
							label.form__label(for='modal-phone')
							input.form__input#modal-phone.imask(type='tel' placeholder="Номер телефона" autocomplete="off" name="Телефон" data-required)
						.form__line-btn
							button.btn.btn--primary.btn--midle.form-modal__btn(type='submit') Отправить
			button.btn.btn--icon.modal__icon-close-wrapper.modal__close(aria-label="Закрыть модальное окно" type="button")
				+icon('close', 'modal__icon-close')