html {
  font-size: 10px;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 150ms !important;
  transition-delay: 0s !important;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  font-family: $p-reg;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--main-bg);
  color: var(--black);
  overflow-wrap: normal;
  overflow-x: hidden;

  &.modal-open,
  &.menu-open {
    overflow: hidden;

    @media screen and (max-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

// заглушка при ленивой загрузки
img.lazy {
  // background-image: url(data:image/gif;base64,R0lGODlhCgAKAPAAAPf3+AAAACH5BAAAAAAALAAAAAAKAAoAAAIIhI+py+0PYysAOw==);
  background-color: $grey;
}

img.lazy-applied,
img.lazy-loaded,
img.lazy-error {
  opacity: 1;
}

// polyfill для EI 11
.img--poly {
  font-family: "object-fit: cover";
}

// Размер svg
.svg-sprite-icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

// норм эффект
.hover {
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.04);

  &:hover {
    transform: translateY(-4px);
    transition-delay: 0s !important;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.09);
  }
}

// скрыть визуально, убрав с экрана, но оставив доступным для средств чтения с экрана.
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// viewportOnMobile
.my-element {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// Выходим за пределы контейнера
.break-out {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

//  Удалить это тест
h1 {
  @include fluidFontSize(25px, 47px, 768px, 1920px);
  color: var(--black);
}

h2 {
  font-size: 16px;
  color: $blue;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: $grey;
}

.img-wrapp,
.custom-select-wrapper {
  max-width: 300px;
}

p {
  color: (--black);
}

// @media (min-height: 400px) {
//     .section {
//         height: 100vh;
//     }
// }

.inner {
  background-color: red;
}

.btn-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  & > * {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
}
