html {
  font-size: 10px;

  // @media (min-width: 1921px) {
  //   font-size: get-vw(10px);
  // }
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 150ms !important;
  transition-delay: 0s !important;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  font-family: $p-reg;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--main-bg);
  color: var(--black);
  overflow-wrap: normal;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.scroll-lock {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

// Размер svg
.svg-sprite-icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

// норм эффект
.hover {
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.04);

  &:hover {
    transform: translateY(-.4rem);
    transition-delay: 0s !important;
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.09);
  }
}

.position-absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

// скрыть визуально, убрав с экрана, но оставив доступным для средств чтения с экрана.
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// viewportOnMobile
.my-element {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// Выходим за пределы контейнера
.break-out {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.svg {
  display: inline-block;
}

//  Удалить это тест
h1 {
  @include fluidFontSize(25px, 47px, 768px, 1920px);
  color: var(--black);
  @media (min-width: $maxb) {
    font-size: get-vw(47px);
  }
}

h2 {
  font-size: 1.6rem;
  color: $blue;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: $grey;
}

.custom-select-wrapper {
  max-width: 30rem;
}

.btn-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  & > * {
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
  }
}


.coll-md {
  margin-bottom: 2rem;
  @include medium {

    @include coll();
    flex: 0 1 50%;
    max-width: 50%;
  }

  @include small {
    @include coll();
    flex: 0 1 100%;
    max-width: 100%;
  }
}

.social-icon {
  width: 2.4rem;
  height: 2.1rem;
  display: inline-block;
}

.svg-test {
  width: 7rem;
  height: 8rem;
}
.svg-test3 {
  width: 2.4rem;
  height: 2.1rem;
  fill: red;
}
.svg-test2 {
  width: 23.8rem;
  height: 6.6rem;
}

.bg-img {
  padding-top: 160px / 240px * 100%;
}